#title {
    margin-top: 2.5%;
    font-size: 3.3rem;
    font-family: 'lobster', cursive;
}

main {
    margin: 3rem auto auto 0;
    font-family: 'lato', sans-serif;
    font-weight: bold;
    position: relative;
    padding: 0 3rem;
}

.section-container {
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}
